html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.container {
    background-color: #eed8cc62 ;
    
    background-size: 30px 30px;
    width: 100%;
    height: 100%;
  }
  
  .texto-animado {
    position: relative;
    display: inline-block;
  }
  
  .texto-animado::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: purple;
    opacity: .5;
    transition: width .3s;
  }
  
  .texto-animado:hover::after {
    width: 100%;
  }


*,
*:before, 
*:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
#PageJM #headerpage.fixed-header{
    background-color:rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
}
#headerpage.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: height 0.3s;
    background-color: rgba(255, 255, 255, .9);
}
#site-logo a{
    text-decoration: none;
    color: inherit;

}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
}
.wrapper{
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;
}
#site-logo{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.img-logo{
    width: 90px;
    height: 90px;
}

.link-header{
    margin: 0px 8px;
    text-shadow: 0px 0px 10px black;

    
    
}
ul li.link-header a{
    padding-bottom: 8px;
    color: #ffffff;
}
ul li.link-header a:hover{
    opacity: 0.5;
    color: purple;
}

header{
    height: 80px;
}

.justify-header{
    justify-content: space-around;
    display: flex;
    margin-top: 0px;
}

/* FOOTER */
.footer-basic{
    padding: 40px;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
.footer-basic .social{
    text-align: center;
}
.footer-basic .social > a{
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: 0 8px;
    opacity: 1;
}
.footer-basic .social > a:hover{
    opacity: 0.5;

}
.footer-basic .copy{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 0px;
}
.footer-justify{
    justify-content: space-around;
    display: flex;
}
.consulta-background{
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
}

/* PORTADA */

.header-justify{
    justify-content: space-around;
    display: flex;
    margin-top: 150px;
}

.portada{
margin-bottom: 190px;
}
.img-portada{
    width: 600px;
    height: auto;
    border-radius: 25px 25px 100px;
    box-shadow: 0px 8px 15px #535353;
    
} 
.img-fondo{
    z-index: -1;
    width: auto;
    height: auto;
    max-height: 1080px;
    max-width: 1860px;
    position: absolute;
    top: 0;
}
/*
.portada .img-fondo{
    z-index: -1;
    width: 100%;
    height: 1080px;
    max-width: 1920px;
    position: absolute;
    top: 0;

}
*/
.header-texto{
    text-align: start;
    color: white;
    height: 100%;
    width: 40%;
    align-items: center;
    vertical-align: middle;
    margin-top: 50px;
   margin-left: 100px;
   margin-right: 0px;
}
.link-header{
    margin: 0px 8px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.social-head{
    text-align: center;
    margin-top: 30px;

}

.justify-header .social-head > a{
    font-size: 24px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    margin: 0 8px;
    opacity: 1;
    /*
    border-radius: 100%;
    border-color: #000000;
    box-shadow: 0px 4px 15px #535353;
    */
}

h2.no-margin{
    font-size: 88px;
}
.border-title{
    border-bottom: 4px solid #000000;
    width: 28%;
    
}
.description-title{
    font-size: 18px;
}

/* OFERTAS DEL DIA */

/*
.bg-gray{
    background-color: #000000;
    
}
*/
.margin-servicios{
    margin-top: 500px;
    margin-bottom: 0px;
}

.seccion-ofertas{
    height: 350px;
    padding: 15px 80px;
    display: flex;
    place-content: space-around;
}
.oferta-ind{
    height: 300px;
    background-color: #ffffff;
    max-width: 15%;
    border-radius: 16px;
    
}

.img-producto{
    max-height: 200px;
    width: -webkit-fill-available;
    padding-top: 30px;
}
.txt-base-carousel-section--discount{
    font-size: 12px;
    color: #ffffff;
    background-color: blue;
    border-radius: 6px;
    padding: 0 10px;
}
.ml-1{
    margin-left: 10px;
}


.img-fondo2{
    z-index: -1;
    width: auto;
    height: auto;
    max-height: 1080px;
    max-width: 1860px;
    position: absolute;
    margin-top: 0;
}





main .oferta-justify{
    justify-content: space-around;
    display: flex;
    margin-top: 200px;
}


/*Testimonios*/
.margin-tesimonios{
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.testimonio-main{
 height: 400px;
}

.testimonio-parrafo{
    width: 300px;
    text-align: center;
  
}


.justify-testimonios{
  
    justify-content: space-around;
    display: flex;
    margin-top: 100px;

    
}
.border-testimonio{
    border: 1px  #000000;
    border-radius: 15px 50px 15px 50px;
    width: 28%;
    background-color:rgba(204, 0, 255, 0.1);
    height: 250px;
}
.border-testimonio:hover {
  box-shadow: 0 0 20px rgb(192, 82, 100);
  border-color: rgb(192, 82, 100);
}
.justify-testimonios2{
  justify-content: space-evenly;
  display: flex;
  margin-top: 50px;
}
.img-testimonio{
    width: 128px;
    height: 128px;
    border-radius: 10%;
    box-shadow: 0px 8px 15px #535353;
}

/*consulta*/
.consulta-background{
  height: auto;
  margin-top: 100px;
    background-color:rgba(255, 0, 212, 0.096);
    backdrop-filter: blur(20px);
}


/* UTILIDADES */
.no-margin{
    margin: 0;
}

h2{
    font-size: 4rem;
}.text-start{
    text-align: start;
}

.centrar-texto{
    text-align: center;
}

.color-pink{
    color: #911091;
}

.margin-metodos{
    margin-top: 150px;
    margin-bottom: 0px;
}

/*sobre nosotros*/
.margin-nosotros{
    margin-top: 250px;
    margin-bottom: 0px;
}
.nosotros-parrafo{
    width: 750px;
    text-align: justify;
}
.nosotros-img{
    width: 700px;
    height: auto;
    border-radius: 25px 25px 100px;
    box-shadow: 0px 8px 15px #535353;
    margin-top: 50px;
    
}
.justify-nosotros{
    justify-content: space-around;
    display: flex;
    margin-top: 200px;
}

.wsp-img{
    width: 20px;
    height: auto;
    margin: 0px 10px;

    
}




/*  boton portada */

.animated-button {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: rgb(250, 127, 209);
    border-radius: 100px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(250, 127, 209);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: rgb(250, 127, 209);
    border-radius: 12px;
    background-color: white;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: rgb(250, 127, 209);
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(0, 0, 0);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  

  /*card 2 */

.color-second{
    color: #8f355f;
}

  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    background: #8f355f;
    border: 2px solid #8f355f;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
.content .heading {
  margin-top: 20px;
  margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;

}
  
.content .para {
    line-height: 1.5;
    font-size: 14px;
    text-align: center; /* Added */
}

  
.btn {
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .metodo-main .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #8f355f;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 50px;
    font-size: 15px;
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgb(192, 82, 100);
    border-color: rgb(192, 82, 100);
  }
  
  .metodo-main .btn:hover {
    outline: 2px solid #8f355f;
    box-shadow:0 0 20px #8f355f;
    background: black;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  .metodo-justify{
    justify-content: space-around;
    display: flex;
    margin-top: 80px;
  }
.img-metodo{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: auto;
}

  /*card 1*/
  .e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#9500ff,#8f355f 60%,rgb(0, 0, 0));
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    margin: 40px;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  /*input hover*/

  .input-group {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line to center the content horizontally */
    margin-top: 50px;
  }
  
  .input {
    min-height: 70px;
    width: 500px;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid #8f355f;
    border-radius: 6px 0 0 6px;
    background-color: #ffffff;
  }
  
  .button--submit {
    min-height: 70px;
    width: 200px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #8f355f;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: rgb(192, 82, 100);
  }
  
  .input:focus, .input:focus-visible {
    border-color: rgb(192, 82, 100);
    outline: none;
  }





  
  .border-testimonio .hover-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .border-testimonio .hover-card p {
    font-size: 14px;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }

  .border-testimonio:hover .hover-card {
    transform: translateY(30%);
  }
  
  .border-testimonio:hover .hover-card {
    opacity: 0;
  }


.border-testimonio .content-card p{
  position: absolute;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  
  transform: translateY(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}


.border-testimonio:hover .content-card {
  transform: translateY(0);
}

.img-t-wsp{
  width: 70%;
  height: auto;
  margin-bottom: 30px;
}











  /*
  
  rgb(192, 82, 100)
  */
  .title-title{
    text-align: start;
  }
  .img-portada-1{
    display: none;
  }
  .img-fondo-1{
    display: none;
  }
.oferta-justify-1{
  display: none;
}
.img-fondo2v1{
  display: none;
}
.metodo-2{
  display: none;
}  
.nosotros-img-1{ 
  display: none;
}
.testimonio-1{
  display: none;
}
.material-symbols-outlined {
  display: none;
}

.social-head-2{
  display: none;
}








  /*RESPONSIVE*/

  @media (max-width: 390px) { 
    /*NAVEGACION*/
    .social-head, .nav-links{
      display: none;
    }
    .social-head-2 > a{
      font-size: 24px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      text-align: center;
      color: #ffffff;
      margin: 0 8px;
      opacity: 1;
      
    }
    .social-head-2{
      text-align: center;
      margin-top: 30px;
      display: block;
  }
  .nav-links-2{
    justify-content: space-around;
    display: flex;
    margin-top: 100px;
    }



    /*HEADER*/
    .img-portada{
 
      display: none;
    } 
    .header-justify{
      display: flex;
      margin-top: 0px;
    }
    .header-texto{
      text-align: center;
      color: white;
      height: 100%;
      width: 100%;
      align-items: center;
      vertical-align: middle;
      margin-top: 0px;
     margin-left: 40px;
     margin-right: 43px;
    }
    .title-title{
      text-align: center;
     }
     .border-title{
      border-bottom: 4px solid #000000;
      width: 100%;
    }
    .img-portada-1{
      width: 300px;
      height: auto;
      border-radius: 15px 15px 50px;
      box-shadow: 0px 8px 15px #535353;
      display: grid;
      margin: 15px auto;
    }
    .btn-header{
      margin-top: 20px;
      margin-bottom: 15px;
      margin-left: 60px;
    }
    .img-fondo{
      z-index: -1;
      width: auto;
      height: auto;
      max-height: 1080px;
      max-width: 1500px;
      position: absolute;
      top: 0;
      display: none;

  }
  .img-fondo-1{
    z-index: -1;
    width: auto;
    height: 100%;
    max-height: 2262px;
    max-width: 390px;
    position: absolute;
    top: 0;
    display: inline-block;


  }
  .description-title{
    font-size: 14px;
  }

  /*SERVICIOS*/
  .margin-servicios{
    margin-top: 340px;
    margin-bottom: 100px;
}
main .oferta-justify{
  display: none;
}
main .oferta-justify-1{
    justify-content: space-around;
    display: flex;
    margin-top: 0px;
}
.e-card-1 {
  margin: 10px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 350px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
}
.icon-1 {
  width: 50px;
  margin: 30px 150px 0px 150px;
}
.infotop-1 {
  left: 500px;
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
}
.name-1 {
  font-size: 10px;
  font-weight: 100;
  position: relative;
  margin: 0px 15px 0px 15px;
  text-align: center;
}
.img-fondo2{

  display: none;
}
.img-fondo2v1{
  z-index: -1;
  height: 1000px;
  max-height: 2262px;
  max-width: 390px;
  position: absolute;
  display: inline-block;
}
.margin-just-2{
  padding-top: 50px;
}

/*Metodos*/
.metodo-justify{
  display: none;
}  
.metodo-2{
  display:block;
}
.card {
  position: relative;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 380px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  
  border-radius: 10px;
  background: #8f355f;
  border: 2px solid #8f355f;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  margin-top: 50px;
}
.img-metodo-1{
  display: flex;
  margin-left: 140px;
  width: 40px;
  height: auto;
  margin-top: 150px;
}

.content .heading {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0px;
  width: 300px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;

}

.content .para {
  line-height: 1.5;
  font-size: 10px;
  text-align: center; /* Added */
  width: 350px;
  height: 200px;
}


/*nosotros*/

.nosotros-img{
display: none;
}
.nosotros-img-1{
  width: 300px;
  height: auto;
  border-radius: 10px 10px 50px;
  box-shadow: 0px 8px 15px #535353;
  margin-top: 20px;
  margin-left: 50px;
  display: inline-block;
}
.title-nosotros{
  text-align: center;
  margin-left: 30px;
}
.nosotros-parrafo{
  margin-left: 30px;
  width: 300px;
  text-align: justify;
}

/* testimonios */

.justify-testimonios{
  display: none;

}
.testimonio-1{
  display: block;
}
.border-testimonio{
  border: 1px  #000000;
  border-radius: 15px 50px 15px 50px;
  width: 350px;
  background-color:rgba(204, 0, 255, 0.1);
  height: 250px;
  margin-left: 20px;
}
.border-testimonio:hover {
box-shadow: 0 0 20px rgb(192, 82, 100);
border-color: rgb(192, 82, 100);
}
.img-testimonio{
  width: 80px;
  height: 80px;
  border-radius: 10%;
  box-shadow: 0px 8px 15px #535353;
  margin-left: 10px;
  margin-top: 80px;
}

.testimonio-parrafo{
  margin-top:50px;
  width: 200px;
  text-align: justify;
  margin-right: 20px;
}
.border-testimonio .hover-card p {
  font-size: 14px;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  margin-bottom: 70px;
}
.img-testimonio{
  width: 80px;
  height: 80px;
  border-radius: 10%;
  box-shadow: 0px 8px 15px #535353;
  margin-bottom: 100px;
  margin-right: 20px;
}
.img-t-wsp{
  width: 70%;
  height: auto;
  margin-bottom: 60px;
}




}
/*
@media (min-width: 640px) { 
    .portada{
    }
 }





 
@media (min-width: 768px) { 
    .portada{
    }
 }
@media (min-width: 1024px) { 
    .portada{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }
 }
 @media (min-width: 1280px) { 

  }
*/